Package: com.kinkenyuen.videodownloadercn
Name: VideoDownloaderCN
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description:允许App内短视频下载保存到本地
            1.微信时刻视频下载，视频播放界面点按或长按呼出，基于微信7.0.2
            2.微博视频下载，视频预览与播放界面长按呼出，基于微博9.0.0
            3.网易云音乐视频下载,视频预览与播放界面长按呼出，基于网易云音乐5.8.1
Maintainer: Ken <yuenkinken@icloud.com>
Author: Ken <yuenkinken@icloud.com>
Section: Tweaks
icon:VideoDownloaderIcon.png
Depiction : https://kkyuen.github.io/repo/depictions/?p=com.kinkenyuen.videodownloadercn
Version: 1.0.3
Installed-Size: 592
