<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>开关</string>
		</dict>
		<dict>   <!-- 这些Cell在设置中改变值后，会在/var/mobile/Library/Preferences/com.kinkenyuen.videodownloadercnprefs.plist文件生成对应的key与value -->
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key><!--所有cell的defaults应该写成同一的值，可以是preference bundle的包名 -->
			<string>com.kinkenyuen.videodownloadercnprefs</string>
			<key>key</key><!-- cell对应的key，主要用来控制插件开关，在/var/mobile/Library/Preferences/com.kinkenyuen.videodownloadercnprefs.plist文件 -->
			<string>wechatEnable</string>
			<key>label</key>
			<string>微信时刻视频</string>
			<key>hasIcon</key>
			<true/>
			<key>icon</key>
			<string>WeChatIcon.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.kinkenyuen.videodownloadercnprefs</string>
			<key>key</key>
			<string>qqEnable</string>
			<key>label</key>
			<string>QQ视频</string>
			<key>hasIcon</key>
			<true/>
			<key>icon</key>
			<string>qq.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.kinkenyuen.videodownloadercnprefs</string>
			<key>key</key>
			<string>qmEnable</string>
			<key>label</key>
			<string>QQ音乐视频</string>
			<key>hasIcon</key>
			<true/>
			<key>icon</key>
			<string>qm.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.kinkenyuen.videodownloadercnprefs</string>
			<key>key</key>
			<string>weiboEnable</string>
			<key>label</key>
			<string>微博视频</string>
			<key>hasIcon</key>
			<true/>
			<key>icon</key>
			<string>Weibo.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.kinkenyuen.videodownloadercnprefs</string>
			<key>key</key>
			<string>weiboInternationalEnable</string>
			<key>label</key>
			<string>微博国际版视频</string>
			<key>hasIcon</key>
			<true/>
			<key>icon</key>
			<string>WeiboInternation.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.kinkenyuen.videodownloadercnprefs</string>
			<key>key</key>
			<string>neteasemusicEnable</string>
			<key>label</key>
			<string>网易云音乐视频</string>
			<key>hasIcon</key>
			<true/>
			<key>icon</key>
			<string>NeteaseMusic.png</string>
		</dict>
		<!-- <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.kinkenyuen.videodownloadercnprefs</string>
			<key>key</key>
			<string>baiduTBEnable</string>
			<key>label</key>
			<string>百度贴吧视频</string>
			<key>hasIcon</key>
			<true/>
			<key>icon</key>
			<string>baiduTB.png</string>
		</dict> -->
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.kinkenyuen.videodownloadercnprefs</string>
			<key>key</key>
			<string>toutiaoEnable</string>
			<key>label</key>
			<string>今日头条视频(含Pro版)</string>
			<key>hasIcon</key>
			<true/>
			<key>icon</key>
			<string>toutiao.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.kinkenyuen.videodownloadercnprefs</string>
			<key>key</key>
			<string>twitterEnable</string>
			<key>label</key>
			<string>Twitter</string>
			<key>hasIcon</key>
			<true/>
			<key>icon</key>
			<string>twitter.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.kinkenyuen.videodownloadercnprefs</string>
			<key>key</key>
			<string>ytEnable</string>
			<key>label</key>
			<string>YouTube</string>
			<key>hasIcon</key>
			<true/>
			<key>icon</key>
			<string>yt.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.kinkenyuen.videodownloadercnprefs</string>
			<key>key</key>
			<string>tbEnable</string>
			<key>label</key>
			<string>淘宝</string>
			<key>hasIcon</key>
			<true/>
			<key>icon</key>
			<string>tb.png</string>
		</dict>
		<!-- <d --><!-- ict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.kinkenyuen.videodownloadercnprefs</string>
			<key>key</key>
			<string>ymEnable</string>
			<key>label</key>
			<string>YY</string>
			<key>hasIcon</key>
			<true/>
			<key>icon</key>
			<string>yjtp.png</string>
		</dict> -->
		

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>开启后无效请注销</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
			<key>action</key><!-- ButtonCell 触发后的action 要在XXXRootListController中实现 -->
			<string>killSpringBoard</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Developer</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Ken</string>
			<key>action</key><!-- ButtonCell 触发后的action 要在XXXRootListController中实现 -->
			<string>gotoMyPage</string>
			<key>hasIcon</key>
			<true/>
			<key>icon</key>
			<string>Ken.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>请我喝杯奶茶</string>
			<key>action</key><!-- ButtonCell 触发后的action 要在XXXRootListController中实现 -->
			<string>donate</string>
			<key>hasIcon</key>
			<true/>
			<key>icon</key>
			<string>paypal.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>请我喝杯奶茶</string>
			<key>action</key><!-- ButtonCell 触发后的action 要在XXXRootListController中实现 -->
			<string>donateViaAlipay</string>
			<key>hasIcon</key>
			<true/>
			<key>icon</key>
			<string>alipay.png</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>功能</string>
			<key>footerText</key>
			<string>允许App内短视频下载保存到本地，视频界面长按或点按呼出

Version 1.3.4
			</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>描述</string>
			<key>footerText</key>
			<string>Copyright (c) 2019 Ken. All rights reserved.

用于学习交流</string>
		</dict>
	</array>
	<key>title</key>
	<string>VideoDownloaderCN</string>
</dict>
</plist>
