Package: com.kinkenyuen.WeChatMomentVideoDwn
Name: WeChatMomentVideoDwn
Version: 1.0.1
Description: 微信时刻视频下载，无配置界面，安装生效
             基于微信7.0.2，视频界面内长按或点按屏幕弹出下载按钮
Section: System
Depends: firmware (>= 9.0), mobilesubstrate
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: Ken
dev: 
Homepage:https://www.jianshu.com/u/4fcc843d9f5d
Depiction: 
Maintainer: 
Icon: 

